h1 {
    font-size: 62px;
    margin: 10px
}

h2 {
    margin: 0px;
}

h3 {
    margin: 0;
}

#header-2 {
    margin-left: 20px;
}

#header {
    background-color: orchid;
    padding: 10px;
    text-align: center;
}

#content {
    padding: 30px
}

#content h2 {
    margin-top:20px
}

.education, .experience {
    margin-top: 10px;
}